<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="add">
        {% csrf_token %}
        name:<input type="text" name="name"><br>
        description:<input type="text" name="description"><br>
        price:<input type="text" name="price"><br>
        image:<input type="text" name="image"><br>
        category:<input type="text" name="category"><br>
        <input type="submit" value="add"><br>
           <p>
        {{ msg }}
    </p>
    </form> 
<form action="display">
<input type="submit" value="display"><br>
<table border="1">
    <tr>
        <td>Prodid</td>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>image</td>
        <td>Category</td>
    </tr>
        {% for i in prod %}
        <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.description}}</td>
        <td>{{i.price}}</td>   
        <td>{{i.image}}</td>
        <td>{{i.category}}</td>
    </tr>
    {% endfor %}  
</table><br>
</form>
<form action="delete" method="post">
    {% csrf_token %}
    name to be deleted: <input type="text" name="name">
    <input type="submit" value="delete"><br>
    <p>
        {{ msg1 }}<br>
    </p>
</form>
<form action="update" method="post">
    {% csrf_token %}
    oldname:<input type="text" name="oldname">
    newname:<input type="text" name="newname">
    <input type="submit" value="update"><br>
    <p>
        {{ msg1 }}<br>
    </p>
</form>
